<br><br>
<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="card ">
        <div class="card-header text-center">
          <h2>
            <b>
              Formulario de Curso
            </b>
          </h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <form>
                <div class="form-group text-center">
                  <b>
                    <div class="row">
                      <div class="col-3 text-left">
                        <label for="formGroupExampleInput"> Imagen: </label>
                      </div>
                      <div class="col-6">
                        <img *ngIf="id !== 'new' && course.icon !== 'null' " id="homeAvatarPicture" src="/v1/course/{{this.id}}/icons">
                        <img *ngIf="id == 'new' || course.icon == 'null'" id="homeAvatarPicture" src="../../assets/Cursos.png">
                        <br>
                        <input type="file" (change)="cargandoImagen($event.target.files)" multiple>
                      </div>
                    </div>
                  </b>
                </div>
                <div class="form-group">
                  <b>
                    <label for="formGroupExampleInput"> Nombre del Curso:</label>
                    <input name="name" [(ngModel)]="this.course.name" type="text" class="form-control" id="name"
                      placeholder="Ingrese Nombre">
                  </b>
                </div>
                <div class="form-group">
                  <b>
                    <label for="exampleFormControlTextarea1">Temas del Curso: </label>
                    <textarea [(ngModel)]="this.course.themes" name="themes" class="form-control" id="temario" rows="5"></textarea>
                  </b>
                </div>
                <div class="form-group">
                  <b>
                    <label for="formGroupExampleInput"> Proyecto del Curso:</label>
                    <input name="project" [(ngModel)]="this.course.project" type="text" class="form-control" id="proyecto"
                      placeholder="Ingrese Nombre del Proyecto">
                  </b>
                </div>
                <div class="form-group">
                  <button type="submit" (click)="guardarCurso()" class="btn btn-primary">Enviar</button>
                  <button type="submit" routerLink="/home" class="btn btn-danger">Cancelar</button>
                </div>
              </form>
            </div>
            <div class="col-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>