<div id="imageBackground">
  <br>
  <div class="container">
    <h1 align="center" class="title">Catalogo de Profesores</h1>
    <div class="row">
      <div class="col-md-7">
        <br>
        <h2 class="titleProfesor">Profesores</h2>
        <ul class="list-group">
          <ng-container>
            <li class="list-group-item" *ngFor="let teacher of teachers">
              <div class="row">
                <div class="col-2">
                  <img *ngIf="teacher.avatar != 'null'" id="homeAvatarPicture" src="/v1/teachers/{{teacher.idTeacher}}/images">
                  <img *ngIf="teacher.avatar == 'null'" id="homeAvatarPicture" src="../../assets/picture.jpg">
                </div>
                <div class="col-10">

                  <a routerLink="/profesores/{{teacher.idTeacher}}">
                    <h3>{{teacher.name}}</h3>
                  </a>
                  <div class="row" *ngFor="let nick of teacher.teacherSocialMedias">
                    <div class="col-8">
                      <Small>
                        <img *ngIf="nick.socialMedia.name == 'Twiter'" id="homeSocialPicture" src="/v1/socialMedias/1/images">
                        <img *ngIf="nick.socialMedia.name == 'Facebook'" id="homeSocialPicture" src="/v1/socialMedias/2/images">
                        <img *ngIf="nick.socialMedia.name == 'Youtube'" id="homeSocialPicture" src="/v1/socialMedias/3/images">
                        <img *ngIf="nick.socialMedia.name == 'Instagram'" id="homeSocialPicture" src="/v1/socialMedias/4/images">
                        {{nick.socialMedia.name}}:
                        {{nick.nickname}} </Small>
                      <br>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="col-md-5">
        <br>
        <h2 class="titleProfesor">Cursos</h2>
        <ng-container *ngFor="let course of courses">
          <div class="alert-warning padding">
            <a routerLink="/cursos/{{course.idCourse}}">
              <h3>{{course.name}}</h3>
            </a>
            <p [innerHtml]='course.project'></p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>