<br><br>
<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="card ">
        <div class="card-header text-center">
          <h2>
            <b>
              Formulario del Profesor
            </b>
          </h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <form>

                <div class="form-group text-center">
                  <b>
                    <div class="row">
                      <div class="col-3 text-left">
                        <label for="formGroupExampleInput"> Avatar: </label>
                      </div>
                      <div class="col-6">
                        <img *ngIf="teacher.avatar != 'null' && !croppedImage" id="homeAvatarPicture" src="/v1/teachers/{{id}}/images">
                        <img *ngIf="teacher.avatar == 'null' && !croppedImage" id="homeAvatarPicture" src="../../assets/picture.jpg">
                        <img [src]="croppedImage" *ngIf="croppedImage"><br>
                        <input type="file" (change)="cargandoImagen($event.target.files)" multiple>
                      </div>
                    </div>

                  </b>
                </div>

                <div class="form-group">
                  <b>
                    <label for="formGroupExampleInput"> Nombre:</label>
                    <input [(ngModel)]="teacher.name" onchange="Warning()" name="name" type="text" class="form-control" id="name"
                      placeholder="Ingrese Nombre">
                  </b>
                </div>
                <div class="form-group">
                  <b>
                    <label for="formGroupExampleInput"> Curso:</label>
                    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="teacher.idTeacherSocialMedia"
                      name="idTeacherSocialMedia">
                      <option *ngFor="let nick of teacher.teacherSocialMedias" value={{nick.socialMedia.idSocialMedia}}>{{nick.socialMedia.name}}</option>
                    </select>
                    <!--
  <select class="form-control" id="idLink" name="idLink" [(ngModel)]="entidadSeleccionada.idLink">
                  <option value="" selected>Seleccione...</option>
                  <option *ngFor="let link of entidadesAsignacionLinkDLink" value={{link.id}}>{{link.descripcion}}</option>
                </select>

                    -->
                  </b>
                </div>
                <div class="form-group">

                  <b>
                    <label for="formGroupExampleInput" nfg> Red Social:</label>
                    <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="teacher.idTeacherSocialMedia"
                      name="teacher.idTeacherSocialMedia">
                      <option *ngFor="let redSocial of red" value={{redSocial.idSocialMedia}}>{{redSocial.name}}</option>
                    </select>
                  </b>
                </div>
                <div class="form-group">

                  <b>
                    <label for="formGroupExampleInput"> NickName:</label>
                    <input name="valueText" [(ngModel)]="valueText" type="text" class="form-control" placeholder="Ingrese Nombre">
                    <br>
                    <div class="row" *ngFor="let nick of teacher.teacherSocialMedias">
                      <br>
                      <Small *ngIf="nick">
                        <img *ngIf="nick.socialMedia.name == 'Twiter'" id="homeSocialPicture" src="/v1/socialMedias/1/images">
                        <img *ngIf="nick.socialMedia.name == 'Facebook'" id="homeSocialPicture" src="/v1/socialMedias/2/images">
                        <img *ngIf="nick.socialMedia.name == 'Youtube'" id="homeSocialPicture" src="/v1/socialMedias/3/images">
                        <img *ngIf="nick.socialMedia.name == 'Instagram'" id="homeSocialPicture" src="/v1/socialMedias/4/images">
                        <a>{{nick.nickname}}</a>
                      </Small>
                      <br>
                    </div>
                  </b>
                </div>
                <br>
                <div class="form-group">
                  <button type="submit" (click)="guardarProfesor()" class="btn btn-primary">Enviar</button>
                  <button type="submit" routerLink="/" class="btn btn-danger">Cancelar</button>
                </div>
              </form>
            </div>
            <div class="col-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Recortar Imagen</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]=" 1/ 1"
      [resizeToWidth]="128" format="png" (imageCroppedBase64)="imageCropped($event)" (imageLoaded)="imageLoaded()"
      (loadImageFailed)="loadImageFailed()"></image-cropper>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Guardar</button>
  </div>
</ng-template>
<br><br>