<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Profesores</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li routerLinkActive="nav-item active">
        <a class="nav-link" routerLink="/profesores/new">Profesores</a>
      </li>
      <li routerLinkActive="nav-item active">
        <a class="nav-link" routerLink="/cursos/new">Cursos<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="nav justify-content-end textColor" *ngIf="!loggedIn">
      <li class="nav-item">
        <a class="nav-link textColor" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link textColor" routerLink="/registro">Registro</a>
      </li>
    </ul>
    <ul class="nav justify-content-end" *ngIf="loggedIn">
      <li class="nav-item" *ngIf="logUser">
        <a routerLink='/profile' class="nav-link textColor">{{this.user.name}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link textColor" id="logout" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="p-3 mb-2 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <td style="color:#fcfcfc">
          <div class="sp-title-block">
            <h3>Contacto</h3>
            <br>
          </div>
          <div class="sp-contacts-widget ">
            <ul>
              <li>
                <i class="ion-android-pin"></i> Dirección: Ambato y García Moreno </li>
              <li>
                <i class="ion-android-call"></i> Teléfono: 0995225249</li>
              <li>
                <i class="ion-at"></i> Correo electrónico: info@yavirac.edu.ec</li>
            </ul>
          </div>
        </td>
      </div>
      <div class="col-2">

      </div>
      <div class="col-6">

        <td style="color:#ffffff" align="left">
          <div class="sp-contacts-widget ">
            <ul>
              <br>
              <br>
              <li>
                <i class="ion-information-circled"></i> Trabajamos de lunes a viernes.</li>
              <li>
                <i class="ion-clock"></i> Nuestro horario de atención es de 07:00 a 16:00</li>
            </ul>
          </div>
          <div class="pull-right">

          </div>
        </td>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-7">
          © 2018 INSTITUTO SUPERIOR YAVIRAC. Todos los derechos reservados.
        </div>
      </div>
    </div>
  </div>
  <br>
</div>